@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;900&amp;display=swap');

@font-face {
  font-family: 'Swis721 Hv BT Heavy';
  src: url('../fonts/FontsFree-Net-Swiss721BT-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swis721 BT Roman';
  src: url('../fonts/FontsFree-Net-Swiss721BT-Roman.ttf') format('truetype')s;
  font-weight: normal;
  font-style: normal;
}

#frame h2 {
  margin-left: 4px;
  line-height: 40px;
  text-transform: none;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}

#home h1 {
  font-family: 'Playfair Display', serif;
  font-size: 145px;
  font-weight: 900;
}

#home h2 {
  font-family: 'Swis721 BT Roman', sans-serif;
  font-size: 65px;
}

#home p {
  font-size: smaller;
  font-family: 'Swis721 Hv BT Heavy', sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

#about2 p {
  width: 100%;
  font-size: 16px;
}

#frame p {
  line-height: 25px;
}

/* #about2 h2{font-size: 45px;} */

#about2 .img-div img {
  width: 100%;
  margin-bottom: 70px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

#home img {
  width: 48%;
  position: absolute;
}

/* New Header for big logo, starting */

.header{
  padding: 1% 0;
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 170px;
  /* height: 70px; */
}

/* New Header for big logo, Ending */

.me {
  margin-left: 1rem;
}

.about {
  font-size: 16px;
}

.parent {
  background-image: url(../images/gun-background.webp) !important;
  background-position: 30% 5%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.parent2 {
  background-image: url(../images/last-gun.png) !important;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 60% auto;
}

.parent3 {
  background-image: url(../images/last-bullets.png) !important;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 30%;
}

#about_big {
  font-family: 'Playfair Display', serif;
  z-index: 6;
  font-weight: 700;
  font-size: 60px;
  line-height: 4px;
  color: rgb(255 255 255 / 23%);
}

.main-ban {
  display: flex;
}

.sub-main {
  width: 22rem;
}

.crousel1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.pt-3{
  padding-top: 1rem !important;
}

/* Dealer in header */
#openModalLink{
  transition: all .3s ease-in-out;
}

#openModalLink:hover {
  cursor: pointer;
  color: #ffffffaa;
}

@media screen and (min-width: 992px) {
  .pt-lg-0 {
    padding-top: 0rem !important;
  }
}

@media screen and (max-width: 991px) {  /* optimized */
  #home h1 {
    font-size: 120px;
  }
}

@media screen and (max-width: 769px) {  /* optimized */
  #home h1 {
    font-size: 95px;
  }
  .middle {
    line-height: 2;
  }
  #openModalLink{
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  #home h1 {  /* change for long heading */
    /* font-size: 100px; */
    font-size: 15vw;
  }

  #home h2 {  /* change for as compared to h1 */
    /* font-size: 50px; */
    font-size: 11vw;
  }
}

/* from coming soon to book now/enquire now - css edits */

.text-uppercase{
  text-transform: uppercase !important;
}

.mb-0{
  margin-bottom: 0 !important;
}

select#lethal_pistols{
  /* padding-right: 10px; */
  appearance: none;
  background-image: url('../images/down-arrow-white.png');
  background-repeat: no-repeat;
  background-position: right 15px center; /* Adjust position of arrow icon */
  background-size: 12%;
}

#lethal_pistols option {
  /* Option styles here */
  margin: .25rem .5rem;
  padding: .25rem .5rem;
  border-radius: 20px;
  color: #fff;
  background-color: black;
}

#lethal_pistols option:checked {
  background-color: #00000099;
}

.w-100{
  width: 100% !important;
}

.d-block{
  display: block !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  border-radius: 50%; /* Example border radius */
  filter: invert(1);
  font-size: 18px;
}

.textarea-small{
  height: 80px;
}

.middle{
  height: 35px;
  margin-top: auto ;
  margin-bottom: auto ;
}

.booking-form input,
.booking-form label,
.booking-form select,
.booking-form textarea
{
  margin-bottom: 10px;
}

.ps-2-15{
  padding-left: 2.15rem !important;
}

.main-menu{
  display: flex;
  gap: 2vw;
}

.main-menu .btn{
  min-width: 0;
  padding: .75rem 1rem;
  margin: 0;
}

@media screen and (max-width:767px) {
  .main-menu{
    flex-direction: column;
    align-items: center;
  }
}

/* modal dealers */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(2px);
  animation-name: fadeIn;
  animation-duration: 0.3s;
}

.modal-content {
  background-color: #0e0e0e;
  margin: 6% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 95%;
  border-radius: 18px;
}

.modal-content .container{
  padding: 60px 30px;
}

.modal-content .dealers{
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.modal-content .dealer{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  flex-wrap: wrap;
  gap: 1rem;
  border: 1px solid #777;
  background-color: #0e0e0e;
  border-radius: 18px;
  padding: 1rem;
  color: #aaa;
}

.modal-content .dealer:hover{
  background-color: #222222;
  color: #fff;
  border: 1px solid #fff;
}

.modal-content .dealer-icon{
  align-self: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 3px solid #777;
}


.modal-content .dealer:hover .dealer-icon{
  border: 3px solid #fff;
}

.dealer-icon img{
  height: 100%;
  width: 100%;
  padding: .75rem;
  filter: invert(.7);
}

.dealer-name{
  font-weight: 700;
}

.dealer-address{
  min-height: 80px;
}

.dealer-contact{
  min-height: 85px;
}

.dealer-address img{
  height: .95rem;
  width: .95rem;
  filter: invert(.35);
}

.dealer-mail, .dealer-phone{
  margin-bottom: .3rem;
}

.dealer-mail{
  text-wrap: nowrap;
}

.modal-content .dealer:hover .dealer-icon img{
  filter: invert(1);
}

.modal-content .dealer:hover .dealer-address img{
  filter: invert(0);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

/* make in india in footer */
.footer-logo img{
  width: 95px;
}

.btn-white{
  color: #fff;
}

.btn-white:before {
  content: "";
  position: absolute;
  top: 0;
  background: rgba(7, 7, 7, .5);
  border-radius: 27px;
  bottom: 0;
  z-index: -1;
  border: 1px solid #fff;
  left: 0;
  transition: all .15s ease;
  right: 0;
}

.btn-white:hover:before {
  border-color: #fff;
  margin: 3px;
  opacity: 1;
}

.gun-caption{
  margin-top: 1.25rem;
  text-align: center;
  font-size: 1rem;
}